<a href="https://colab.research.google.com/github/qcatorres-cloud/CPE-009A_TORRESCARL-Object-Oriented-Programming-1/blob/main/CONTROL_STRUCTURES_TORRES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONTROL STRUCTURES**

IF Statement

In [ ]:
a = 12
b = 100
if b>a:
  print("b is greater than a")

b is greater than a

ELIF Statement

In [ ]:
a = 12
b = 12
if b > a:
  print("b is greater than a")

elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")

elif a == b:
  print("a and b are equal")

else:
  print("a is greater than b")

a is greater than b

Short Hand IF Statement

In [9]:
if a > b: print("a is greater than b")

a is greater than b

In [5]:
a = 2
b = 330
print("A") if a > b else print("B")

B

AND-BOTH Conditions are True

In [8]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

OR-AT Least one of the conditions is true

In [10]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

NESTED IF Statement

In [11]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [15]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
    if x > 30:
      print ("and also above 30")
      if x > 40:
        print ("and also above 40")
        if x < 50:
          print ("and also below 50")
        else :
            print("above 40")
      else:
        print("below 40")
    else:
      print("below 30")
  else:
    print("below 20.")
else:
  print("below 10")

Above ten,
and also above 20!
and also above 30
and also above 40
and also below 50

Example 1 Supplementary Activity

In [18]:
print("Enter your Age")
x = int(input())

if x > 18:
  print("You are qualified to vote")
  if x > 18:
    print("You are above 18 years old")
  else:
    print ("You are below 18 years old")
else:
  print("You are not qualified to vote")

Enter your Age
19
You are qualified to vote
You are above 18 years old

Example 2 Supplementary Activity

In [26]:
print("Enter the Number")
x = int(input())

if x < 0:
  print("Negative Number")
elif x > 0:
  print("Positive Number")
elif x == 0:
  print("Zero")

Enter the Number
0
Zero

Example 3 Supplementary Activity

In [20]:
print("Enter your Grade") #5 points
x = int(input())

if x >= 75:
  print("Passed")
elif x == 74:
  print("Remedial")
elif x < 74:
  print("Failed")
  if x < 0:
    print("Invalid Input")
else:
  print("Valid Input")

Enter your Grade
-3
Failed
Invalid Input