<a href="https://colab.research.google.com/github/qcatorres-cloud/CPE-009A_TORRESCARL-Object-Oriented-Programming-1/blob/main/Hands_on_Activity_1_1_Literals%2C_Operators%2C_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assigning variables of different data types in Python

In [29]:
value = 5
print(value) #prints 5
type(value) #prints int

5

int

In [30]:
value = 5.0
print(value) #prints 5.0
type(value) #prints float

5.0

float

#Repeat these steps for the following values:

In [31]:
value = 2+3j
print(value) #prints (2+3j)
type(value) #prints complex

(2+3j)

complex

In [32]:
value = 'Hello World'
print(value) #prints Hello World
type(value) #prints str

Hello World

str

In [33]:
value = "Hello World"
print(value) #prints Hello World
type(value) #prints str

Hello World

str

In [34]:
value = True
print(value) #prints True
type(value) #prints bool

True

bool

In [35]:
value = False
print(value) #prints False
type(value) #prints bool

False

bool

In [36]:
value = [1,2,3,4,5]
print(value) #prints [1, 2, 3, 4, 5]
type(value) #prints list

[1, 2, 3, 4, 5]

list

In [37]:
value = (1,2,3,4,5)
print(value) #prints (1, 2, 3, 4, 5)
type(value) #prints tuple

(1, 2, 3, 4, 5)

tuple

In [38]:
value = {'name': 'Your_name'}
print(value) #prints {'name': 'Your_name'}
type(value) #prints dict

{'name': 'Your_name'}

dict

In [39]:
value = None
print(value) #prints none
type(value) #prints NoneType

None

NoneType

In [40]:
value = 5 #Re-assign the value variable to be equal to 5.
value2 = -6 #Declare a new variable named value2 to be equal to -6.

#Performing Operations using Python

In [55]:
value = 5
value2 = -6
print(value+value2) #prints -1

-1

In [43]:
value = 5.0
value2 = 6
print(value+value2) #prints 11.0

11.0

In [44]:
value = -5
value2 = 6.1
print(value+value2) #prints 1.0999999999999996

1.0999999999999996

In [49]:
value = "Hello"
value2 = ' world'
print(value+value2) #prints Hello world

Hello world

In [50]:
value = [1,2,3]
value2 = [4,5,6]
print(value+value2) #prints [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [51]:
value = (1,2,3)
value2 = (4,5,6)
print(value+value2) #prints (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [63]:
value = {"name":"Royce"}
value2 = {"age":2}
print(value+value2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [56]:
value = 5
value2 = -6
print(value-value2) #prints 11

11

In [57]:
value = 5.0
value2 = 6
print(value-value2) #prints -1.0

-1.0

In [59]:
value = -5
value2 = 6.1
print(value-value2) #prints -11.1

-11.1

In [61]:
value = "Hello"
value2 = 'world'
print(value-value2) #prints Hello world

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [62]:
value = [1,2,3]
value2 = [4,5,6]
print(value-value2) #prints [1, 2, 3, 4, 5, 6]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [64]:
value = (1,2,3)
value2 = (4,5,6)
print(value-value2) #prints (1, 2, 3, 4, 5, 6)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [65]:
value = {"name":"Royce"}
value2 = {"age":2}
print(value-value2)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [67]:
value = 30
value2 = 4

print(value*value2) #prints 120
print(value2**2) #prints 16
print(value2**3) #prints 64
print(value*value2+value2**2+1) #prints 137
print(value/value2) #prints 7.5
print(value%value2) #prints 2

120
16
64
137
7.5
2

#Receiving Input Data using Python

In [68]:
input("Message Name") #prints Message Name 'Hello World'

Message NameHello World

'Hello World'

In [69]:
name = input("Enter your name: ") #prints Enter your name: Carl Andrei D. Torres

Enter your name: Carl Andrei D. Torres

In [74]:
# Finding a person's BMI metric
name = input("Enter your name: ") # Declare a new variable named name
weight = float(input("Enter your weight(kg): ")) # Declare a new variable named weight and convert to float
height = float(input("Enter your height(m): ")) # Declare a new variable named height and convert to float

# BMI formula: weight / (height * height)
bmi = weight / (height ** 2)

#prints the inputs
print(f"Hello {name}")
print(f"Your weight is: {weight} kg")
print(f"Your height is: {height} m")
print(f"Your BMI is: {bmi:.2f}")

Enter your name: Carl Andrei Torres
Enter your weight(kg): 55.7
Enter your height(m): 1.626
Hello Carl Andrei Torres
Your weight is: 55.7 kg
Your height is: 1.626 m
Your BMI is: 21.07

#Supplementary Activity

In [75]:
#Python Triangle Area Calculator

#Inputs
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

#Formula
area = (1/2) * base * height

#Result
print(f"The area of the triangle is {area:.2f}")

Enter the base of the triangle: 20
Enter the height of the triangle: 45
The area of the triangle is 450.00

In [78]:
#Temperature Calculator

#Inputs
celsius = float(input("Enter the Celsius given: "))

#Formula
Fahrenheit = celsius * (9/5) + 32

#Result
print(f"The Fahrenheit of this given Celsius is {Fahrenheit:.2f}")

Enter the Celsius given: 0
The Fahrenheit of this given Celsius is 32.00

In [79]:
#Temperature Calculator

#Inputs
celsius = float(input("Enter the Celsius given: "))

#Formula
Fahrenheit = celsius * (9/5) + 32

#Result
print(f"The Fahrenheit of this given Celsius is {Fahrenheit:.2f}")

Enter the Celsius given: -20
The Fahrenheit of this given Celsius is -4.00

In [80]:
#Distance Calculator between two points

#Get coordinate inputs
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

#Formula
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

#Result
print(f"The distance between the two points is: {distance:.9f}")

Enter x1: 2
Enter y1: 2
Enter x2: -3
Enter y2: 3
The distance between the two points is: 5.099019514

**Questions:**
1. Give one major difference in syntax that Python has with other languages such as C?

The python doesn't use a "int main" which it is easier to type the give code on the program. Also, it doesn't use if statements and for loops. Lastly, the very big difference is Python doesn't use semicolon at the end of the statement while C uses it to execute the code properly.

2. How does variable assignment differ in Python compared with other languages such as C?

In Python, it uses the statement "x = 5" which automatically assign the x an integer and "x = "hello" makes the x a string. In C language, you must declare first the data type of a variable like Int for integers before you type the value like "int x = 5".

3. Try assigning variable names that start with numbers, and special characters. Is the assigning of variables
that start with numbers accepted by Python? For Special Characters? Is there an exception for variables
special characters?

In Python it can't start with a number like 1value = 10 and it will result to a SyntaxError. Also, it can't start with special characters like ("!, @, #, $, %, ^, &) are not accepted at the start of the variable name and would result to a SyntaxError. Lastly, it has exception for special characters like the underscore(_) is the only special character that is allowed at the start of the variable name.

4. Do the assignment operators (+, -, *, /, %, **) work for all data types? Why or Why not?

Because Python Operators are created to work with specific data types, and their behavior can be overloaded depending on the types involved like the + symbol are working for numbers, strings, list, and tuples but the + symbol doesn't work in dict like {'g':1} + {'b':2} that results in a TypeError. Lastly, - symbol doesn't work in strings, lists, tuples, and dict but only works in numbers only.

5. How does the * operator differ from the ** operator?

The * symbol is for multiplication which you multiply the values while ** is for exponentiation which you multiply by its exponents.

**CONCLUSION**
In Conclusion, Iâ€™ve learned how the Python Language distinguishes itself from other programming languages like C through its reliance on indentation for code blocks and its dynamic typing system, in which simplifies its variable assignment by removing the need for explicit data type declarations. While flexible, Python has clear rules for variable naming, disallowing names that start with numbers or most special characters, with the underscore being the only exception. Furthermore, Python's operators are context-sensitive, meaning their behavior varies across different data types, and they are not universally applicable to all types. Finally, it's crucial to understand the distinct functions of operators like * for multiplication operator, and ** for exponentiation, to correctly implement its mathematical and sequence operations.