<a href="https://colab.research.google.com/github/qcatorres-cloud/CPE-009A_TORRESCARL-Object-Oriented-Programming-1/blob/main/LOOP_STATEMENTS_TORRESCPE12S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOP STATEMENTS**

FOR Loop

In [1]:
#Example 1
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [2]:
#Example 2
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [3]:
#Example 3(Break Statement)
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
     break
print(x)

Thursday

In [7]:
#Example 4(Looping through a string)
for x in "week":
  print(x)

w
e
e
k

The range() Function

In [8]:
#Example 1
for x in range(6):
  print(x)

0
1
2
3
4
5

In [9]:
for x in range(2,6):
  print(x)

2
3
4
5

In [27]:
for x in range(2, 6, 2):
 print(x)

2
4

NESTED LOOPS

In [28]:
#Example 1
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**PYTHON WHILE LOOPS**

In [31]:
#Example 5
i = 1
while i < 6:
  print(i)
  i += 1  #i = i + 1 Assignment Operators

1
2
3
4
5

In [33]:
#break statement in while loops
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [34]:
#continue statement in while loops
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [39]:
i = 0
while i < 6:
  i += 1
  if i != 3:
    continue
  print(i)

3

In [41]:
#The else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [50]:
i = 0
while i < 11:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [52]:
# +5 Points
for x in range(3,10,1):
  print(x)

3
4
5
6
7
8
9