<a href="https://colab.research.google.com/github/qcatorres-cloud/CPE-009A_TORRESCARL-Object-Oriented-Programming-1/blob/main/PYTHON_FUNDAMENTALS_TORRES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Indentation**

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

**Python Comments**

In [2]:
#This is a comment
print("Hello, World")

Hello, World

**Python Variable**

In [12]:
#Example
x = 1
a, b = 0,-1
a, b, c=0,-1,2
print(x + a, b, c)
print(x, a, b, c)
print(x + a, b * a, c)

1 -1 2
1 0 -1 2
1 0 2

In [13]:
#Others
b = "Sally" #This is a type of string
print(b)

Sally

**Casting**

In [15]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

**Type() Function**

In [16]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**"Double Quotes" or "Single Quotes"**

In [21]:
y = "John"
print(y)
y = 'John'
print(y)

John
John

**Case Sensitive**

In [23]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

**Multiple Variables**

In [24]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

**One Value to Multiple Variables**

In [25]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

**Output Variables**

In [26]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

In [27]:
#Other Way
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

**Arithmetic Operations**

In [30]:
#Addition
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = x + y
print(sum)

8
8

In [31]:
#Subtraction
x = 5
y = 3
print(x-y)

x = 5
y = 3
sum = x - y
print(sum)

2
2

In [32]:
#Multiplication
x = 5
y = 3
print(x*y)

x = 5
y = 3
sum = x * y
print(sum)

15
15

In [33]:
#Modulo
x = 5
y = 3
print(x%y)

x = 5
y = 3
sum = x % y
print(sum)

2
2

In [36]:
#Division
x = 5
y = 3
print(x/y)

x = 5
y = 3
sum = x / y
print(sum)

1.6666666666666667
1.6666666666666667

In [34]:
#Floor Division 1
x = 5
y = 3
print(x//y)

x = 5
y = 3
sum = x // y
print(sum)

1
1

In [35]:
#Floor Division 2
10 // 3

3

**Assignment Operators**

In [48]:
s = 1
s+=3
print(s)

4

In [49]:
s = 1
s-=3
print(s)

-2

In [50]:
s = 1
s*=3
print(s)

3

In [51]:
s = 1
s/=3
print(s)

0.3333333333333333

In [52]:
s = 1
s%=3
print(s)

1

In [53]:
s = 1
s//=3
print(s)

0

In [54]:
s = 1
s**=3
print(s)

1

In [55]:
s = 1
s&=3
print(s)

1

In [56]:
s = 1
s|=3
print(s)

3

In [57]:
s = 1
s^=3
print(s)

2

In [58]:
s = 1
s>>=3
print(s)

0

In [59]:
s = 1
s<<=3
print(s)

8

**Comparison Operators**

In [61]:
t = 1
u = 2
print(t == u)

False

In [62]:
t = 1
u = 2
print(t != u)

True

In [63]:
t = 1
u = 2
print(t > u)

False

In [64]:
t = 1
u = 2
print(t < u)

True

In [65]:
t = 1
u = 2
print(t >= u)

False

In [66]:
t = 1
u = 2
print(t <= u)

True

**Logical Operators**

In [83]:
t = 1
u = 2

print(t < 0 and t < 10)
print(u < 5 or u < 10)
print(not(t < 3 and u < 10))

True
True
False

**Identity Operators**

In [84]:
x = {"apple", "banana"}
y = {"apple", "banana"}
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

**Bitwise Operators**

In [81]:
v = 2
v << 1
v << 2

8